{% extends 'base.html.twig' %}

{% block body %}
    <div id="header">
        <h1>Home</h1>
    </div>
    <div id="menu">
        <a href="{{ path("home_page") }}">Home</a> |
        <a href="{{ path("editor_page") }}">Edit article</a> |
        <a href="{{ path("new_article") }}">New article</a>  |
        <a href="#">Login/Registration</a>
        <br>
        <hr>

    </div>
    <div id="content">
        <ul>
            {%  for article in articles %}
                <tr>
                <td>
                    <a href="{{ path('article', { 'id': article.id }) }}">{{ article.title }} {{ article.content }}</a>
                    <br/><br/>
                </td>
                </tr>
            {%  endfor %}
        </ul>
    </div>
    <div id="footer">
        All right reserved.Tel.Adress.
    </div>
{% endblock %}

