{% extends 'base.html.twig' %}

{% block top_bar %}

  <body>
  <div class="top-bar">
    <div class="row">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="{{ path("index_clients")}}">Clients</a></li>
          <li><a href="{{ path("reservations")}}">Reservations</a></li>
        </ul>
      </div>
    </div>
  </div>
  </body>

{% endblock %}



{% block body %}

    {{ dump() }}
  <div class="row">
    <div class="medium-12 large-12 columns">
      <h4></h4>
      <form action="" method="post">
        <div class="medium-4  columns">
          <label>Title</label>

          <select name="form[title]">
              {% for title in titles %}
            <option value="{{ title }} {{ title == form.title ? 'selected' : '' }} ">{{ title | capitalize }}.</option>
              {% endfor %}
          </select>

        </div>
        <div class="medium-4  columns">
          <label>Name</label>
          <input name="form[name]" value="{{ form.name is defined ? form.name : '' }}" type="text" />
        </div>
        <div class="medium-4  columns">
          <label>Last Name</label>
          <input name="form[last_name]" value="{{ form.last_name is defined ? form.last_name : '' }}" type="text" />
        </div>
        <div class="medium-8  columns">
          <label>Address</label>
          <input name="form[address]" value="{{ form.address is defined ? form.address : '' }}" type="text" />
        </div>
        <div class="medium-4  columns">
          <label>ZipCode</label>
          <input name="form[zip_code]" value="{{ form.zip_code is defined ? form.zip_code : '' }}" type="text" />
        </div>
        <div class="medium-4  columns">
          <label>City</label>
          <input name="form[city]" value="{{ form.city is defined ? form.city : '' }}" type="text" />
        </div>
        <div class="medium-4  columns">
          <label>State</label>
          <input name="form[state]" value="{{ form.state is defined ? form.state : '' }}" type="text" />
        </div>
        <div class="medium-12  columns">
          <label>Email</label>
          <input name="form[email]" value="{{ form.email is defined ? form.email : '' }}" type="text" />
        </div>
        <div class="medium-3  columns">
          <label>ROOM TYPE</label>
          <h4>{{ form.room_type }}</h4>
          <div>
            <select class="" name="form[room_type]">
              <option selected="selected" value="{{ form.room_type }}">Choose</option>
              <option value="{{ 1|number_format }}">Single</option>
              <option value="{{ 2|number_format }}">Double</option>
              <option value="{{ 3|number_format }}">Triple</option>
            </select>
          </div>
        </div>
        <div class="medium-3  columns">
          <label>Adult</label>
          <h4>{{ form.adult }}</h4>
          <div>
            <select class="" name="form[adult]">
              <option selected="selected" value="{{ form.adult }}">Choose</option>
              <option value="{{ 1|number_format }}">1 person</option>
              <option value="{{ 2|number_format }}">2 persons</option>
              <option value="{{ 3|number_format }}">3 persons</option>

            </select>
          </div>
        </div>
        <div class="medium-3  columns">
          <label>Child</label>
          <h4>{{ form.child }}</h4>
          <div>
            <select class="" name="form[child]">
              <option selected="selected" value="{{ form.child }}">Choose</option>
              <option value="{{ 1|number_format }}">1 child</option>
              <option value="{{ 2|number_format }}">2 childs</option>
              <option value="{{ 3|number_format }}">3 childs</option>

            </select>

          </div>
        </div>
        <div class="medium-3 columns">
          <label>Baby</label>
          <h4>{{ form.baby }}</h4>
          <div>
            <select class="" name="form[baby]">
              <option selected="selected" value="{{ form.baby }}">Choose</option>
              <option value="{{ 1|number_format }}">1 baby</option>
              <option value="{{ 2|number_format }}">2 babies</option>
              <option value="{{ 3|number_format }}">3 babies</option>
            </select>
          </div>
        </div>

        <div class="medium-12  columns">
          <input type="submit" value="SAVE" class="button success hollow" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}