{% extends 'base.html.twig' %}


{% block top_bar %}

    <body>
    <div class="top-bar">
        <div class="row">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="{{ path("admin")}}">Admin</a></li>
                    <li><a href="{{ path("index_clients")}}">Clients</a></li>
                    <li><a href="{{ path("reservations")}}">Reservations</a></li>
                </ul>
            </div>
        </div>
    </div>
    </body>

{% endblock %}

{% block body %}

    {{ dump() }}


    <div class="row">
      <div class="medium-12 large-12 columns">
        <h4>Clients</h4>



        <table class="stack">
          <thead>
            <tr>
              <th width="200">Name</th>
              <th width="200">Email</th>
              <th width="200">Action</th>
            </tr>
          </thead>
            {%  for client in clients %}
              <tr>
                <td>{{ client.title | upper }}. {{ client.name }} {{ client.lastName }}</td>
                <td>{{ client.Email }}</td>
                    <td>
                    <a class="hollow button" href="{{ path("modify_client", { 'id_client': client.id }) }}">EDIT</a>
                    <a class="hollow button warning" href="{{ path("delete", { 'id_client': client.id }) }}">DELETE</a>
                </td>
              </tr>
              {%  endfor %}
          </tbody>
        </table>
      </div>
    </div>



{% endblock %}
