{% extends 'base.html.twig' %}

{% block top_bar %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12" aria-required="true">
                <h1>Register!</h1>

                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first, {
                    'label': 'Password'
                }) }}
                {{ form_row(form.plainPassword.second, {
                    'label': 'Repeat Password'
                }) }}

                <button type="submit" class="button" formnovalidate>Register</button>

                {{ form_end(form) }}

                <a href="{{ path ('admin') }}"><button type="submit" class="button" >Go back to admin</button></a>

            </div>
        </div>
    </div>
{% endblock %}