<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hotel App{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('pickadate/lib/themes/default.css') }}">
        <link rel="stylesheet" href="{{ asset('pickadate/lib/themes/default.date.css') }}">
    </head>
    <body>
    {% block top_bar %}
        <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="{{ path("home")}}">Home</a></li>
              <li><a href="{{ path("about_us")}}">About us</a></li>
              <li><a href="{{ path("location")}}">How to locate</a></li>
              <li><a href="{{ path("contact")}}">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->

    {% endblock %}
    <noscript><h4 align="center">For full functionality of this page it is necessary to enable JavaScript.
            Here are the <a href="http://www.enable-javascript.com" target="_blank">
                instructions how to enable JavaScript in your web browser</a></h4></noscript>
    <br>

        {% block body %} {% endblock %}
    

    <div class="row column">
      <hr>
      <ul class="menu">
        <li class="float-right">Copyright 2017</li>
      </ul>
    </div>

    <script>
      $(document).foundation();
    </script>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/vendor/jquery.js') }}"></script>
        <script src="{{ asset('js/vendor/what-input.js') }}"></script>
        <script src="{{ asset('js/vendor/foundation.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('pickadate/lib/picker.js') }}"></script>
        <script src="{{ asset('pickadate/lib/picker.date.js') }}"></script>



    <script>


        $('.datepicker').pickadate(
            {
                format: 'yyyy-mm-dd',
                formatSubmit: 'yyyy-mm-dd',
                //min: new Date('today'),
                min :document.getElementById('form[from]').min,
                max: new Date(2019,12,31)
            }
        );



    </script>




    </body>
</html>
