<!DOCTYPE html>

<html lang="en">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Hotel App{% endblock %}</title>
        {% block stylesheets %} {% endblock %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

            <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('css/sidenav.css') }}">

            <link rel="stylesheet" href="{{ asset('pickadate/lib/themes/default.css') }}">
            <link rel="stylesheet" href="{{ asset('pickadate/lib/themes/default.date.css') }}">

        

      <!--  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->





        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131743009-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-131743009-1');
        </script>
    </head>

{% endblock %}
    <body>
    {% block top_bar %}
        <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="{{ path("home")}}">Home</a></li>
              <li><a href="{{ path("about_us")}}">About us</a></li>
              <li><a href="{{ path("location")}}">How to locate</a></li>
              <li><a href="{{ path("contact")}}">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->


    {% endblock %}
    <noscript><h4 align="center">For full functionality of this page it is necessary to enable JavaScript.
            Here are the <a href="http://www.enable-javascript.com" target="_blank">
                instructions how to enable JavaScript in your web browser</a></h4></noscript>
    <br>

        {% block body %} {% endblock %}
    

    <div class="row column">
      <hr>
      <ul class="menu">
        <li class="float-right">Copyright 2018</li>
      </ul>
    </div>

    <script>
      $(document).foundation();
    </script>

        {% block javascripts %}{% endblock %}

        <script src="{{ asset('js/vendor/jquery.js') }}"></script>
        <script src="{{ asset('js/vendor/what-input.js') }}"></script>
        <script src="{{ asset('js/vendor/foundation.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('pickadate/lib/picker.js') }}"></script>
        <script src="{{ asset('pickadate/lib/picker.date.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>


        <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>


        $(document).ready(function() {

            $("#dt1").pickadate(
                {
                    formatSubmit: 'yyyy-mm-dd',
                    //formatSubmit: 'yyyy-mm-dd',
                    //format: 'd mmmm, yyyy',
                    format: ' dddd, d mmmm yyyy',
                    min: new Date('today')
                    //max: new Date(2019,12,31),

                });

            $("#dt2").pickadate(
                {
                    formatSubmit: 'yyyy-mm-dd',
                    //formatSubmit: 'yyyy-mm-dd',
                    //format: 'd mmmm, yyyy',
                    format: ' dddd, d mmmm yyyy',
                    //min: new Date(this),
                   // min: new Date(),
                    max: new Date(2019, 12, 31),



                });


            var from_$input = $('#dt1').pickadate(),
                from_picker = from_$input.pickadate('picker');

            var to_$input = $('#dt2').pickadate(),
                to_picker = to_$input.pickadate('picker');


            // Check if there’s a “from” or “to” date to start with.
            if ( from_picker.get('value') ) {
                to_picker.set('min', from_picker.get('select'))
            }
            if ( to_picker.get('value') ) {
                from_picker.set('max', to_picker.get('select'))
            }

            // When something is selected, update the “from” and “to” limits.
            from_picker.on('set', function(event) {
                if ( event.select ) {
                    to_picker.set('min', from_picker.get('select'))
                }
                else if ( 'clear' in event ) {
                    to_picker.set('min', false)
                }
            });
            to_picker.on('set', function(event) {
                if ( event.select ) {
                    from_picker.set('max', to_picker.get('select'))
                }
                else if ( 'clear' in event ) {
                    from_picker.set('max', false)
                }
            })
        });
    </script>
    </body>
</html>
