{% extends 'base.html.twig' %}




{% block body %}


 <h2 align="center" >Welcome to our Hotel</h2>

 <p style="object-fit: contain; padding: 20px;">Far far away, behind the word mountains, far from the countries
  Vokalia and Consonantia, there live the blind texts. Separated they live in
  Bookmarksgrove right at the coast of the Semantics, a large language ocean.

  A small river named Duden flows by their place and supplies it with the
  necessary regelialia. It is a paradisematic country, in which roasted parts
  of sentences fly into your mouth.
  Our Satisfied Guests says Far far away, behind the word mountains, far from
  the countries Vokalia and Consonantia, there live the blind texts.

  Dennis Green Guests from Italy Far far away, behind the word mountains, far
  from the countries Vokalia and Consonantia, there live the blind texts.
  Dennis Green Guests from Italy Far far away, behind the word mountains, far
  from the countries Vokalia and Consonantia, there live the blind texts.Dennis
  Green Guests from Italy Far far away, behind the word mountains, far from the
  countries Vokalia and Consonantia, there live the blind texts.Dennis Green
  Guests from Italy Far far away, behind the word mountains, far from the countries
  Vokalia and Consonantia, there live the blind texts.Dennis Green Guests from
  Italy Instagram Cozy Far far away, behind the word mountains, far from the
  countries Vokalia and Consonantia, there live the blind texts.</p>


 <h4 align="center" >Our single rooms</h4>
 <div class="medium-12  columns">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/2.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
 </div>

 <h4 align="center" >Our double rooms</h4>

 <div class="medium-12  columns">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/2.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
 </div>


 <h4 align="center" >Our triple rooms</h4>

 <div class="medium-12  columns">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/2.jpg') }}">
  <img class="thumbnail" object-fit: contain; style="max-height: 24%; max-width:24%;" src="{{ asset('images/3.jpg') }}">
 </div>

{% endblock %}
