{% extends 'base.html.twig' %}

{% block top_bar %}{% endblock %}


{% block body %}

    {{ dump() }}

<form action="" method="post">
        <div class="row">
           <div class="medium-12 large-12 columns">
             <h4>NUMBER OF GUESTS AND ROOMS</h4>


                <div class="medium-2  columns">CHECK-IN:</div>

                <div class="medium-2  columns"><input name="form[from]" value="" type="text"  class="datepicker" /></div>

                <div class="medium-2  columns">CHECK-OUT:</div>

                <div class="medium-2  columns"><input name="form[to]" value="" type="text" class="datepicker" /></div>

              <div class="medium-2  columns"><input class="button" type="submit" value="SEARCH" /></div>

           </div>
            <div class="medium-3  columns">
                <label>ROOM TYPE</label>
                <div>
                    <select class="" name="room_type">
                        {% for room in rooms %}
                            <option value="" >{{room.id}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="medium-3  columns">
                <label>Adult</label>
                <div>
                    <select class="form-control">
                        {% for room in rooms %}
                            <option value="" >{{room.floor}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="medium-3  columns">
                <label>Child</label>
                <div>
                    <select class="form-control">
                        {% for room in rooms %}
                            <option value="" >{{room.floor}}</option>

                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="medium-3 columns">
                <label>Baby</label>
                <div>
                    <select class="form-control">
                        {% for room in rooms %}
                            <option value="" >{{room.floor}}</option>

                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>


    </form>



    <table class="stack">
        <thead>
        <tr>
            <th width="200">Room</th>
            <th width="200">Availability</th>
            <th width="200">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name}}</td>

                <td>
                    <div class="callout success">
                        <h7>Available</h7>
                    </div>
                </td>
                <td>
                    <a class="hollow button warning" href="{{ path("pre_booking")  }}">BOOK NOW</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>


{% endblock %}

