{% extends 'base.html.twig' %}




{% block body %}
    {{ dump() }}

    <div class="container-fluid">
        <link rel="stylesheet" href="{{ asset('css/progresbar.css') }}">
        <br /><br />
        <ul class="list-unstyled multi-steps">
            <li>Your choice</li>
            <li>Booking information</li>
            <li>Booking validation or payment</li>
            <li class="is-active">Booking confirmation</li>
        </ul>
    </div>
<h3 align="center">You will receive en confirmation email for your booking!</h3>

<hr>
    <h2 align="center">Booking summary!</h2>

    <div align="center">
    <input  type="button" class="button" value="Print" onclick="printData('print')"/>
    <input  type="button" class="button" value="Download PDF" />
    </div>




<div id="print"  style="padding: 1%">

  <fieldset>
      <legend align="center"><h5>Welcome to Hotel de France</h5></legend>

       <table class="medium-10" align="center" border="1">

        <tr>
            <th scope="row">Referance</th>
            <td>{{client.id}}</td>
        </tr>
        <tr>
            <th scope="row">First name</th>
            <td>{{client.name is defined ? client.name : '' }}</td>
        </tr>
        <tr>
            <th scope="row">Last name</th>
            <td>{{client.lastname is defined ? client.lastname : '' }}</td>
        </tr>
        <tr>
            <th scope="row">Check-In</th>
            <td>{{ reservation.dateIn|date   }}</td>
        </tr>
        <tr>
            <th scope="row">Check-Out</th>
            <td>{{ reservation.dateOut|date  }}</td>
        </tr>
        <tr>
            <th scope="row">Room type</th>
            <td>{{ client.roomtype is defined ? client.roomtype : '' }}</td>
        </tr>
        <tr>
            <th scope="row">Adult</th>
            <td>{{client.adult is defined ? client.adult : '' }}</td>
        </tr>
        <tr>
            <th scope="row">Child</th>
            <td>{{client.child is defined ? client.child : '' }}</td>
        </tr>
        <tr>
            <th scope="row">Baby</th>
            <td>{{client.baby is defined ? client.baby : '' }}</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>{{client.address is defined ? client.address : '' }}</td>
        </tr>
        <tr>
            <th scope="row">ZipCode</th>
            <td>{{client.zipcode is defined ? client.zipcode : '' }}</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td>{{client.city is defined ? client.city : '' }}</td>
        </tr>
        <tr>
            <th scope="row">State</th>
            <td>{{client.state is defined ? client.state : '' }}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{client.email}}</td>
        </tr>
        <tr>
            <th scope="row">Tel:</th>
            <td>{{client.email}}</td>
        </tr>
        <tr>
            <th scope="row">TOTAL</th>
            <td>{{client.name is defined ? client.name : '' }}</td>
        </tr>
      </table>
  </fieldset>

</div>

    <!--
    <a class='north' href="{{ asset('bundles/TP/Resume.pdf') }}"
       target="_blank" title="Download.pdf">
        <img src="{{ asset('bundles/TP/images/icn-save.jpg') }}"
             alt="Download the pdf version" /></a>
-->
<script>
    function printData()
    {
    var divToPrint=document.getElementById("print");
    newWin= window.open("print");
    newWin.document.write(divToPrint.outerHTML);
    newWin.print();
    newWin.close();
    }
</script>


{% endblock %}
